composer.lock
tmp/
vendor/
tests/phppt/*.diff
tests/phppt/*.out
tests/phppt/*.php
tests/phppt/*.exp
tests/phppt/*.log
tests/phppt/*.sh
tests/phppt/*/*.diff
tests/phppt/*/*.out
tests/phppt/*/*.php
tests/phppt/*/*.exp
tests/phppt/*/*.log
tests/phppt/*/*.sh
