language: php

php:
  - 7.0
  - 7.1
  - nightly

matrix:
  allow_failures:
    - php: nightly

sudo: false

before_script:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer require satooshi/php-coveralls:~2.0.0 --no-update --dev
  - composer install --prefer-source

script:
  - php vendor/bin/phpunit

after_script:
  - php vendor/bin/coveralls
