<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="phpunit tests">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src/</directory>
            <file>yay_parse.php</file>
        </whitelist>
    </filter>

    <logging>
        <log type="tap" target="tmp/logs/report.tap"/>
        <log type="junit" target="tmp/logs/report.junit.xml"/>
        <log type="coverage-html" target="tmp/logs/coverage" charset="UTF-8" yui="true" highlight="true" />
        <log type="coverage-text" target="tmp/logs/coverage.txt" />
        <log type="coverage-clover" target="tmp/logs/clover.xml" />
    </logging>
</phpunit>
